name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: fastapi
          environment-file: environment.yml
          python-version: 3.10

      - name: Install flake8
        shell: bash -l {0}
        run: |
          pip install flake8

      - name: Run flake8
        shell: bash -l {0}
        run: |
          flake8 .

      - name: Run pytest
        shell: bash -l {0}
        run: |
          pytest
